* {
    margin: 0;
    padding: 0;
}

/* .hover {
    cursor:pointer;
} */

.images {
    display: flex;
    margin: 10px;
}

.images img {
    width: 100px;
    height: 50px;
    margin: 10px;
    justify-content: space-between;
}